.banner{
    background:linear-gradient(45deg,rgba(243, 5, 5, 0.2), rgba(253, 81, 2, 0.2)),url("https://iili.io/2Toccg.png");
    height: 500px;
    width: 100%;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    }
    